:root {
    --font-cta: rgba(255, 255, 255, 0.85);
    --transparent-card: rgba(139, 139, 139, 0.2);
}

#hero {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    #background {
        z-index: 0;
    }

    #caption {
        z-index: 1;
        font-size: 9dvw;
        font-family: "Cormorant Garamond", serif;
        font-weight: 800;
        color: var(--font-cta);
    }

    #foreground {
        z-index: 2;
    }

    #spacer {
        z-index: 1;
        height: 18.5dvh;
    }
}

header {
    background: none;
    border: none;
    padding-inline: 2dvw;
    z-index: 4;
    justify-content: space-between !important;


    :is(nav, #user) a {
        font-size: 14pt !important;
        font-weight: 500 !important;
        color: var(--font-cta);
        border: none;
        padding: 0px;
    }

    #user {
        :is(a, #login, #logout) {
            color: var(--font-cta);
            background: var(--transparent-card);
            -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
            width: 86px;
        }

        :is(a, #logout, #login):hover {
            background: var(--hover1);
        }

        #join:hover {
            color: var(--font-cta);
        }
    }

    nav {
        z-index: 4;
        position: relative;
        width: 35dvw;
        justify-content: space-between !important;
    }

    #branding {
        gap: 12px;
        margin: 0px;

        .logo {
            height: 80%;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        span {
            color: var(--font-cta);
            translate: 0px 4px;
            font-size: 40pt;
        }
    }
}

#searchWrapper {
    position: absolute;
    bottom: 6dvh;
    top: inherit;
    left: 0;
    height: fit-content;
    padding-inline: 12dvw;
    width: 100dvw;
    display: flex;
    justify-content: center;

    #search {
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        padding: 12px 24px;
        border-radius: 64px;
        background: var(--transparent-card);
        max-width: 1000px;

        input {
            color: var(--font-cta);
            padding: 0px;
        }

        label {
            color: var(--font-cta);
        }

        .icon {
            fill: var(--font-cta);
            border-radius: 50%;
            overflow: visible;
            height: 40px;
            aspect-ratio: 1;
            width: auto;
            padding: 8px;
        }

        .cta1 {
            height: 40px;
        }

        .counter {
            color: var(--font-cta);
        }
    }
}