:root {
    --font-dark: rgba(255, 255, 255, 0.85);
}

#hero {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    #background {
        z-index: 0;
    }

    #caption {
        z-index: 1;
        font-size: 9dvw;
        font-family: "Cormorant Garamond", serif;
        font-weight: 800;
        color: var(--font-cta);
    }

    #foreground {
        z-index: 2;
    }

    #spacer {
        z-index: 1;
        height: 18.5dvh;
    }
}

header #branding span {
    color: var(--font-cta);
}

#searchWrapper #search {
    background: var(--transparent-card);
}