:root {
	--accent1: #d36c4c;
	--accent2: #e7ae71;
	--accent3: #fbef98;
	--accent4: #065f7c;
	--accent5: #c0d9e1;
	--base: #f9f5f0;
	--base: #f5f1eb;
	--card: white;
	--transparent-card: rgba(139, 139, 139, 0.2);

	--font-light: #756c5c;
	--font-dark: #252423;
	--transparent: #25242346;
	--font-cta: rgba(255, 255, 255, 0.85);
	--font-accent: var(--accent4);

	--hover1: hsl(31, 85%, 75%);
	--hover2: hsl(195, 80%, 35%);
	--hover3: hsl(195, 79%, 81%);

	--disabled: #b7bbc8;
	--card-shadow: #3f3e3d1a;
}

[data-theme="dark"] {
	--base: #212427;
	--card: #2c3035;

	--font-light: #ebe3d7;
	--font-dark: #fcf9f6;
	--transparent: #25242346;
	--font-cta: white;
	--font-accent: var(--font-light);


	--hover1: hsl(31, 85%, 75%);
	--hover2: hsl(195, 80%, 35%);
	--hover3: hsl(195, 79%, 81%);

	--disabled: #b7bbc8;
	--card-shadow: #3f3e3d1a;
}

/* -------- Generic Stylings -------- */
@font-face {
	font-family: "Alex Brush";
	font-style: normal;
	font-weight: normal;
	src: local("Alex Brush"),
		url("fonts/AlexBrush-Regular.ttf") format("truetype");
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--font-light);
	transition: color 0.2s;
}

a:hover {
	color: var(--accent1);
}

:is(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: "Open Sans", serif;
	font-weight: 300;
	margin: 0;
}

button {
	background: none;
	border: none;
	outline: none;
}

/* -------- Easy use classes -------- */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.horizontal {
	flex-direction: row;
}

.vertical {
	flex-direction: column;
}

:is(.cta1, .cta2) {
	border-radius: 18px;
	border: none;
	font-family: "Open Sans", sans-serif;
	width: 100%;
	transition: background .2s;
}

.cta1 {
	background: var(--accent4);
	color: var(--font-cta);
}

.cta1:hover {
	cursor: pointer;
	background: var(--hover2);
}

.cta2 {
	background: var(--accent5);
}

.cta2:hover {
	cursor: pointer;
	background: var(--hover3);
}

/* -------- Specific Stylings  -------- */
body {
	font-family: "Open Sans", sans-serif;
	font-size: 16pt;
	font-weight: 300;
	background: var(--base);
	margin: 0;
	padding: 20px 0px;
	color: var(--font-dark);
}

.logo {
	path:nth-child(1) {
		fill: var(--accent1);
	}

	path:nth-child(2) {
		fill: var(--accent2);
	}

	path:nth-child(3) {
		fill: var(--accent3);
	}

	path:nth-child(4) {
		fill: var(--accent4);
	}
}

header {
	width: 100%;
	height: 60px;
	justify-content: space-between !important;
	background: none;
	padding-inline: 2dvw;
	z-index: 4;
	position: relative;

	:is(nav, #user) :is(a, button) {
		font-family: "Open Sans", sans-serif;
		font-size: 12pt;
		font-weight: 500;
		color: var(--font-dark);
		border: none;
		padding: 0px;
		margin: 0px;
	}

	#user {
		gap: 12px;

		:is(a, #login, #logout) {
			background: var(--transparent-card);
			border-radius: 18px;
			padding: 8px;
			text-align: center;
			transition: background 0.25s, color 0.25s;
			-webkit-backdrop-filter: blur(12px);
			backdrop-filter: blur(12px);
			width: 86px;
		}

		:is(a, #logout, #login):hover {
			background: var(--hover1);
			cursor: pointer;
		}
	}

	#branding {
		height: inherit;
		margin: 0px;
		gap: 12px;

		span {
			font-family: "Alex Brush", serif;
			font-size: 38pt;
			color: var(--accent1);
			translate: 0px 4px;
		}

		.logo {
			height: 80%;
			aspect-ratio: 1;
			border-radius: 50%;
		}
	}

	nav {
		padding: 8px;
		color: var(--font-light);
		justify-content: space-between !important;
		width: 40dvw;

		a:hover {
			color: var(--hover2) !important;
		}
	}
}

main {
	width: 100%;
	padding: 20px 12dvw;
}

#searchWrapper {
	position: fixed;
	bottom: 6dvh;
	top: inherit;
	left: 0;
	height: fit-content;
	padding-inline: 12dvw;
	width: 100dvw;
	display: flex;
	justify-content: center;
	z-index: 4;

	#search {
		width: 100%;
		max-width: 1000px;
		padding: 12px 24px;
		background: var(--card);
		border-radius: 64px;
		font-family: "Open Sans", sans-serif;
		justify-content: space-between;
		-webkit-backdrop-filter: blur(12px);
		backdrop-filter: blur(12px);
		box-shadow: 2px 9px 20px 2px var(--card-shadow);

		fieldset {
			border: none;
			outline: none;
			padding: 0;
			margin: 0;
			gap: 40px;
			justify-content: flex-start;
			flex-grow: 1;
		}

		fieldset:first-of-type {
			flex-grow: 3;
		}

		div {
			align-items: flex-start;
		}

		label {
			color: var(--font-dark);
			font-size: 11pt;
			margin-bottom: 8px;
			font-weight: 500;
		}

		input {
			border: none;
			background: none;
			font-size: 16pt;
			font-family: "Open Sans", sans-serif;
			width: 12ch;
			color: var(--font-dark);
			padding: 0px;
			border-radius: 8px;
			position: relative;
			text-align: center;
			font-weight: 100;
		}

		input[type="date"]::-webkit-calendar-picker-indicator {
			inset: 0;
			background: transparent;
			color: transparent;
			cursor: pointer;
			height: auto;
			position: absolute;
			width: auto;
		}

		input:focus {
			outline: 1px solid var(--accent4);
		}

		.icon {
			fill: var(--font-dark);
			border-radius: 50%;
			overflow: visible;
			height: 40px;
			aspect-ratio: 1;
			padding: 8px;
		}

		.cta1 {
			padding: 12px 24px;
			height: 40px;
			width: auto;
			-webkit-user-select: none;
			user-select: none;
		}

		.counter {
			font-size: 12pt;
			cursor: pointer;
			transition: color .2s, border .2s;
			border: 1pt solid var(--disabled);
			aspect-ratio: 1 / 1;
			width: 24px;
			border-radius: 50%;
			color: var(--font-dark);
		}

		.counter:hover {
			border: 1pt solid var(--accent1);
		}

		.counter:disabled {
			border: 1pt solid var(--disabled);
			color: var(--disabled);
			cursor: not-allowed;
		}

		#guests {
			width: 2ch;
			margin-inline: 8px;
			padding: 0;
		}

		#guestsWrapper {
			align-items: center;
		}
	}
}

/* -------- Main Grid  -------- */
#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: calc(100dvh - 80px);
	padding: 0;

	>div {
		height: auto;
	}

	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	#right {
		place-self: center;
		gap: 20px;
		width: 100%;
		padding: 0 6dvw;

		:is(form, .display) {
			gap: 8px;
			width: 100%;
			align-items: flex-start;
			font-family: "Open Sans", sans-serif;

			input {
				width: 100%;
				background: none;
				outline: none;
				border: none;
				border-bottom: 1px solid var(--font-dark);
				padding: 0;
				font-size: 14pt;
			}

			label {
				color: var(--accent4);
				font-size: 11pt;
				margin-top: 20px;
			}

			:is(.cta1, .cta2) {
				padding: 8px;
				font-size: 14pt;
			}

			.cta1 {
				margin-top: 62px;
			}
		}
	}
}

.card {
	background: var(--card);
	margin-block: 4dvh;
	justify-content: space-between;
	border-radius: 34px;
	overflow: hidden;
	height: 400px;
	box-shadow: 2px 9px 20px 2px var(--card-shadow);

	h2 {
		font-weight: 500;
	}

	.imgWrapper {
		flex: 2;
		height: 100%;
		width: 100%;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	.info {
		height: 100%;
		width: 100%;
		padding: 20px;
		flex: 3;
		gap: 4px;
		align-items: flex-start;
		justify-content: space-between;

		.tags {
			font-size: 10pt;
			flex-wrap: wrap;
			justify-content: flex-start !important;
			gap: 8px;

			li {
				padding: 2px 8px;
				border: 1px solid var(--font-light);
				border-radius: 20px;
				cursor: default;
			}
		}

		>.container {
			gap: 8px;
		}

		.purchase {
			gap: 16px;
			width: 30%;

			form {
				width: 100%;
			}

			button {
				padding: 8px 20px;
				width: 100%;
			}
		}

		.container {
			justify-content: space-between;
			width: 100%;
		}
	}
}

.card:last-of-type {
	margin-bottom: 25dvh;
}

#reservation {
	width: 100%;
	display: flex;
	gap: 16px !important;
}