:root {
  --accent1: #d36c4c;
  --accent2: #e7ae71;
  --accent3: #fbef98;
  --accent4: #065f7c;
  --base: #f9f5f0;
  --card: white;

  --font-light: #756c5c;
  --font-dark: #252423;
  --transparent: #25242346;

  --hover1: hsl(31, 85%, 75%);
  --hover2: hsl(195, 80%, 35%);

  --disabled: #b7bbc8;
  --card-shadow: #3f3e3d1a;
}

@font-face {
  font-family: "Alex Brush";
  font-style: normal;
  font-weight: normal;
  src: local("Alex Brush"),
    url("fonts/AlexBrush-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--font-light);
  transition: color 0.2s;
}

a:hover {
  color: var(--accent1);
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Open Sans", serif;
  font-weight: 300;
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.cta1 {
  background: var(--accent4);
  color: var(--card);
  border-radius: 18px;
  border: none;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  transition: background .2s;
}

.cta1:hover {
  cursor: pointer;
  background: var(--hover2);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16pt;
  font-weight: 300;
  background: var(--base);
  margin: 0;
  padding: 20px 0px;
  color: var(--font-dark);
}

.logo {
  path:nth-child(1) {
    fill: var(--accent1);
  }

  path:nth-child(2) {
    fill: var(--accent2);
  }

  path:nth-child(3) {
    fill: var(--accent3);
  }

  path:nth-child(4) {
    fill: var(--accent4);
  }
}

header {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid var(--accent1);
  justify-content: space-between;
  position: sticky;
  inset: 0;
  background-color: var(--base);
  padding-inline: 8dvw;
  z-index: 2;

  #user {
    gap: 12px;

    :is(a, #login, #logout) {
      border-radius: 18px;
      padding: 8px;
      text-align: center;
      background: none;
      border: none;
      font-family: "Open Sans", sans-serif;
      font-size: 12pt;
      transition: background 0.2s, color 0.2s;
      color: var(--font-dark);
      font-weight: 300;
    }

    a:hover {
      cursor: pointer;
    }

    :is(#login, #logout) {
      background: var(--accent2);
      width: 86px;
    }

    :is(#logout, #login):hover {
      background: var(--hover1);
    }

    #join:hover {
      color: var(--accent1);
    }
  }
}

#branding {
  height: inherit;
  margin-right: auto;

  span {
    font-family: "Alex Brush", serif;
    font-size: 36pt;
    color: var(--accent1);
  }

  .logo {
    height: inherit;
  }
}

nav {
  padding: 8px;
  color: var(--font-light);

  a {
    border-inline: 1px solid var(--accent1);
    padding: 0px 32px;
  }

  a:first-of-type {
    border-left: none;
  }

  a:last-of-type {
    border-right: none;
  }

  a:hover {
    color: var(--accent1);
  }
}

main {
  width: 100%;
  padding: 20px 8dvw;
}

#search {
  width: 100%;
  background: var(--card);
  font-family: "Open Sans", sans-serif;
  padding: 16px 8dvw;
  justify-content: space-between;
  position: sticky;
  top: 60px;
  z-index: 1;

  fieldset {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    justify-content: flex-start;
    flex-grow: 1;
  }

  fieldset:first-of-type {
    flex-grow: 3;
  }

  div {
    align-items: flex-start;
  }

  label {
    color: var(--accent4);
    font-size: 11pt;
    margin-bottom: 8px;
  }

  input {
    border: none;
    background: none;
    font-size: 16pt;
    font-family: "Open Sans", sans-serif;
    width: 11ch;
    color: var(--font-dark);
    padding: 4px 8px;
    border-radius: 8px;
    position: relative;
    text-align: center;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    inset: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: auto;
    position: absolute;
    width: auto;
  }

  input:focus {
    outline: 1px solid var(--accent4);
  }

  .icon {
    fill: var(--accent4);
    width: 24px;
  }

  .cta1 {
    padding: 12px 24px;
    width: auto;
    -webkit-user-select: none;
    user-select: none;
  }

  .counter {
    font-size: 14pt;
    cursor: pointer;
    transition: color .2s, border .2s;
    border: 1pt solid var(--disabled);
    aspect-ratio: 1 / 1;
    width: 28px;
    border-radius: 50%;
  }

  .counter:hover {
    border: 1pt solid var(--accent1);
  }

  .counter:disabled {
    border: 1pt solid var(--disabled);
    color: var(--disabled);
    cursor: not-allowed;
  }

  #guests {
    width: 3ch;
    margin-inline: 8px;
    padding: 0;
  }

  #guestsWrapper {
    align-items: center;
  }
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
  place-items: center;

  img {
    width: 100%;
  }

  figcaption {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 32pt;
    position: absolute;
    background: var(--transparent);
    top: 20%;
    color: var(--card);
    padding: 45px 15%;
  }
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100dvh - 80px);
  padding: 0;

  >div {
    height: auto;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  #right {
    place-self: center;
    gap: 20px;
    width: 100%;
    padding: 0 6dvw;

    form {
      gap: 8px;
      width: 100%;
      align-items: flex-start;
      font-family: "Open Sans", sans-serif;

      input {
        width: 100%;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--font-dark);
        padding: 0;
        font-size: 14pt;
      }

      label {
        color: var(--accent4);
        font-size: 11pt;
        margin-top: 20px;
      }

      .cta1 {
        padding: 8px;
        font-size: 14pt;
        margin-top: 62px;
      }
    }
  }
}

.card {
  background: var(--card);
  margin-block: 4dvh;
  justify-content: space-between;
  border-radius: 34px;
  overflow: hidden;
  height: 400px;
  box-shadow: 2px 9px 20px 2px var(--card-shadow);

  h2 {
    font-weight: 500;
  }

  .imgWrapper {
    flex: 2;
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .info {
    height: 100%;
    width: 100%;
    padding: 20px;
    flex: 3;
    gap: 4px;
    align-items: flex-start;
    justify-content: space-between;

    .tags {
      font-size: 10pt;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 8px;

      li {
        padding: 2px 8px;
        border: 1px solid var(--font-light);
        border-radius: 20px;
        cursor: default;
      }
    }

    .purchase {
      gap: 16px;
      width: 30%;

      form {
        width: 100%;
      }

      button {
        padding: 8px 20px;
        width: 100%;
      }
    }

    >.container {
      justify-content: space-between;
      width: 100%;
    }
  }
}