h1 {
  font-family: "Alex Brush", serif;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}

.logo {
  path:nth-child(1) {
    fill: var(--accent1);
  }

  path:nth-child(2) {
    fill: var(--accent2);
  }

  path:nth-child(3) {
    fill: var(--accent3);
  }

  path:nth-child(4) {
    fill: var(--accent4);
  }
}
